.body-space{
    width: 100%;
    height: 100%;
    position: absolute;
}

.window-container{
    position: relative;;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    overflow: hidden;
    cursor: unset;
    user-select: none;
    display: grid;
    touch-action: none;
}

.window-container-toolbar{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #eee;
    position: relative;
    z-index: 2;
}

.window-container-slider{
    z-index: 1;
    top: 0px;
    left: 0px;
    position: absolute;
}

.window-titlebar{
    position: relative;
    place-self: stretch;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20px);
    justify-content: end;
    border-bottom: 2px solid black;
    overflow: hidden;
}

.window-titlebar-control{
    position: relative;
    background-color: gray;
    padding: 2px;
    border-bottom: 2px solid black;
}

.window-titlebar-control > div{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    border: 0px;
    place-content: center;
    display: grid;
    align-items: center;
    line-height: 1.2;
}

.window-tab{
    place-self: center;
    background-color: cyan;
    user-select: auto;
    margin: 2px 4px;
    padding: 0px 2px;
    white-space: nowrap;
}

.window-context{
    --margin-top: 0px;
    position: absolute;
    background-color: #ff0000;
    display: grid;
    grid-template-rows: 20px min-content auto;
    border-width: 0px 4px 4px;
    border-color: black;
    border-style: solid;
    user-select: none;
    overflow: hidden;
}

.toolbar-menu-item:last-child{
    border-bottom: 2px solid gray;
}

.toolbar-menu-item{
    position: relative;
    height: 100%;
    background-color: white;
    border-width: 1px 0px;
    overflow:hidden;
    text-align: left;
    text-indent: 10px;
    line-height: 2.2;
    margin: 0px -2px;
    z-index: 1;
    align-items: center;
    justify-items: center;
}

.toolbar-menu-item.vslim {
    border-top: 2px solid black;
    background-color: #eee;
    height: 30px;
    color: black;
}

.toolbar-menu-item:hover {
    z-index: 5;
    color: black;
}

.toolbar-menu-item div:first-child{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    justify-items: center;
}


.toolbar-menu-part{
    color: #888;
    display: grid;
    place-self: stretch;
    grid-auto-rows: min-content;
    justify-items: stretch;
    text-align: center;
    box-sizing: border-box;
    height: 40px;
    border: 2px solid transparent;
}

.toolbar-menu-part>div:first-child{
    height: 40px;
    box-sizing: border-box;
    display: grid;
    align-items: center;
}

.toolbar-menu-part>div{
    top: -2px;
}

.none{
    display: none;
}

.dockzone{
    z-index: 5;
}